body {
    background: linear-gradient(180deg, #000000 1%, #3c7900 100%);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: contain;
}

@keyframes snow {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    animation: snow 10s linear infinite;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .snowflake:nth-child(odd) {
    animation-duration: 8s;
  }