html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: url('https://ciao287.is-a.dev/backgrounds/background-projects.jpg');
  color: white;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.5);
  z-index: 1;
}