body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('https://ciao287.com/backgrounds/background-404.jpg');
  color: white;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
