body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('https://ciao287.is-a.dev/backgrounds/background-index.jpg');
  color: white;
  height: 100vh;
}

.container {
  margin: calc(5vw + 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:50vh;
}