body {
  background-color: #eff1f5 !important;
}

a {
  color: #1e66f5 !important;
}

.text {
  color: #4c4f69 !important;
}

/* #hour {
  color: !important;
} */

/* .textcontainer {
    background-color: !important;
} */