body {
  background-color: #eff1f5 !important;
}

.textcontainer {
    background-color: #bcc0cc !important;
}

.name {
  color: #4c4f69 !important;
}

#hour {
    color: #6c6f85 !important
}

.text {
    color: #5c5f77 !important;
}

a {
  color: #1e66f5 !important;
}

.snowflake {
    color: black !important;
}